<h1> <%= @quiz.quiz_website %> </h1>
<p> <%= @quiz.quiz_url %> </p>
<%# form_tag group_path(@quiz.group) do %>
    <br> Result: <%# text_field_tag :name %> </br>
    <br> <%# submit_tag 'submit' %> </br>
<%# end %>