<h1> <%= @quiz.name %> </h1>
<p> <%= link_to @quiz.quiz_url, @quiz.quiz_url %> </p>
<%# form_tag group_path(@quiz.group) do %>
    <br> Result: <%# text_field_tag :name %> </br>
    <br> <%# submit_tag 'submit' %> </br>
<%# end %>