<h1> All Groups </h1>
<% @quizzes.each do |q| %>
<%# Quiz Header%>
    <h2> <%= q.quiz_website %> </h2>
    <%# Groups Based on Quiz Result %>
    <% q.groups.each do |g| %>
       <li> <%= link_to g.name, group_path(g) %> </li>
    <% end %>
<% end %>

    